GitHub_sync
[{"updatedAt":"2026-03-27T14:32:21.740Z","createdAt":"2026-03-27T10:11:50.754Z","id":"Dc7bNFEBRFYNc66c","name":"GitHub_sync","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"dfb2564b-426d-4c7b-90f8-702f06c506c9","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"f786377d-1285-4ac0-b399-3d670caad9d6","name":"Webhook","webhookId":"dfb2564b-426d-4c7b-90f8-702f06c506c9"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.body.workflowId }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[512,-128],"id":"d5bc676b-b600-406d-8faf-d71bfccff8d5","name":"Get a workflow","credentials":{"n8nApi":{"id":"6XdtGIQv8anBLgFc","name":"n8n account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body.action }}","rightValue":"commit","operator":{"type":"string","operation":"equals"},"id":"c8d9d5b8-5319-47fa-896a-bd638418daf7"}],"combinator":"and"},"renameOutput":true,"outputKey":"Commit"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8f99d470-6a2a-42bf-a88c-ad3fa26cd144","leftValue":"={{ $json.body.action }}","rightValue":"revert","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Revert"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[208,0],"id":"ccbda4fe-fa75-45e7-bd87-eec3fc2e9e50","name":"Switch"},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[928,-128],"id":"0389272b-20f2-4e05-a96d-26bef50f4889","name":"Convert to File"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1136,-128],"id":"09873bfd-fd80-42bb-bdc9-73a69a895795","name":"Extract from File"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"Sethis21","mode":"name"},"repository":{"__rl":true,"value":"gauthier-faisandaz","mode":"list","cachedResultName":"gauthier-faisandaz","cachedResultUrl":"https://github.com/Sethis21/gauthier-faisandaz"},"filePath":"={{ $('Webhook').item.json.body.workflowName }}","fileContent":"={{ $json.data }}","commitMessage":"Creation - First upload"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1392,-128],"id":"2550c7ce-90fd-43ec-bc90-452d1fec46e1","name":"Create a file","webhookId":"00265484-5978-452a-9e60-bba832494132","credentials":{"githubApi":{"id":"jURUbhjmASc9SWgw","name":"GitHub account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[144,304],"id":"bbee5e4c-2457-48df-873b-d594be99e4aa","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"Sethis21","mode":"name"},"repository":{"__rl":true,"value":"gauthier-faisandaz","mode":"name"},"filePath":"GitHub_sync","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[368,304],"id":"41cc4b5c-dcab-411e-a73c-141c2e72ed42","name":"Get a file","webhookId":"533bdc00-60f8-4d35-9dee-6ebd54c611a9","credentials":{"githubApi":{"id":"jURUbhjmASc9SWgw","name":"GitHub account"}}},{"parameters":{"operation":"update","workflowId":{"__rl":true,"value":"=Dc7bNFEBRFYNc66c","mode":"id"},"workflowObject":"={{ $json }}","requestOptions":{}},"id":"493f6b3f-5f9c-4377-9cb1-e8ad46996338","name":"Update workflow in n8n1","type":"n8n-nodes-base.n8n","position":[1232,304],"typeVersion":1,"credentials":{"n8nApi":{"id":"6XdtGIQv8anBLgFc","name":"n8n account"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[576,304],"id":"c9e42ace-98fa-4859-ac9e-8854b332635c","name":"Extract from File1"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[784,304],"id":"c1e788cf-8315-46a0-a900-10f6038a6e6a","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"65a430e0-1184-48a8-bbaf-876686235951","name":"stringified_JSON","value":"={{ JSON.stringify($json) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,304],"id":"95fcba89-bc38-48f1-a326-c5e0ec3a6367","name":"Edit Fields"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get a workflow","type":"main","index":0}],[]]},"Get a workflow":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Update workflow in n8n1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"53f330ba-6b03-46e4-8474-a5e9de1f8839","activeVersionId":null,"versionCounter":163,"triggerCount":0,"shared":[{"updatedAt":"2026-03-27T10:11:50.754Z","createdAt":"2026-03-27T10:11:50.754Z","role":"workflow:owner","workflowId":"Dc7bNFEBRFYNc66c","projectId":"G2LsrE7XK5CvmPNi","project":{"updatedAt":"2025-10-09T13:08:44.693Z","createdAt":"2025-10-09T12:54:01.624Z","id":"G2LsrE7XK5CvmPNi","name":"Gauthier Faisandaz <gauthier.faisandaz@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"b4dc54ba-6303-4e7a-9b13-469a80636dcb"}}],"tags":[],"activeVersion":null}]