path:""
[{"updatedAt":"2026-03-27T13:33:31.989Z","createdAt":"2026-03-27T10:11:50.754Z","id":"Dc7bNFEBRFYNc66c","name":"GitHub_sync","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"dfb2564b-426d-4c7b-90f8-702f06c506c9","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"f786377d-1285-4ac0-b399-3d670caad9d6","name":"Webhook","webhookId":"dfb2564b-426d-4c7b-90f8-702f06c506c9"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.body.workflowId }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[512,-128],"id":"d5bc676b-b600-406d-8faf-d71bfccff8d5","name":"Get a workflow","credentials":{"n8nApi":{"id":"6XdtGIQv8anBLgFc","name":"n8n account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body.action }}","rightValue":"commit","operator":{"type":"string","operation":"equals"},"id":"c8d9d5b8-5319-47fa-896a-bd638418daf7"}],"combinator":"and"},"renameOutput":true,"outputKey":"Commit"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8f99d470-6a2a-42bf-a88c-ad3fa26cd144","leftValue":"={{ $json.body.action }}","rightValue":"revert","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Revert"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[208,0],"id":"ccbda4fe-fa75-45e7-bd87-eec3fc2e9e50","name":"Switch"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"Sethis21","mode":"name"},"repository":{"__rl":true,"value":"gauthier-faisandaz","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[208,-256],"id":"41cc4b5c-dcab-411e-a73c-141c2e72ed42","name":"List files","webhookId":"533bdc00-60f8-4d35-9dee-6ebd54c611a9","credentials":{"githubApi":{"id":"jURUbhjmASc9SWgw","name":"GitHub account"}}},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[720,-128],"id":"0389272b-20f2-4e05-a96d-26bef50f4889","name":"Convert to File"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"List files","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get a workflow","type":"main","index":0}],[]]},"Get a workflow":{"main":[[{"node":"Convert to File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3e4907a0-f2e3-49e5-9983-56a0d2f94833","activeVersionId":null,"versionCounter":51,"triggerCount":0,"shared":[{"updatedAt":"2026-03-27T10:11:50.754Z","createdAt":"2026-03-27T10:11:50.754Z","role":"workflow:owner","workflowId":"Dc7bNFEBRFYNc66c","projectId":"G2LsrE7XK5CvmPNi","project":{"updatedAt":"2025-10-09T13:08:44.693Z","createdAt":"2025-10-09T12:54:01.624Z","id":"G2LsrE7XK5CvmPNi","name":"Gauthier Faisandaz <gauthier.faisandaz@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"b4dc54ba-6303-4e7a-9b13-469a80636dcb"}}],"tags":[],"activeVersion":null}]